<div class="sidebar-header">
  <a href="{{ site.Home.RelPermalink }}" class="sidebar-logo">
    <i class="fa-solid fa-file-code"></i>
    <span>Snippets</span>
  </a>
  <div>
    <button class="sidebar-header-btn" popovertarget="sidebar" popovertargetaction="hide">
      <a href="https://github.com/cdevoogd/snippets"><i class="fa-brands fa-github"></i></a>
    </button>
    <button id="sidebar-close-btn" class="sidebar-header-btn" popovertarget="sidebar" popovertargetaction="hide">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</div>
<div class="sidebar-content">
  {{ template "sidebar-menu" (dict "ctx" site.Home "level" 0 "activePage" .) }}
</div>

{{- define "sidebar-menu" -}}
  {{- $ctx := .ctx -}}
  {{- $level := .level -}}
  {{- $activePage := .activePage }}

  {{- if gt $level 1 -}}
    {{- fmt.Warnf "Attempted to generate a sidebar with more levels than are currently supported" -}}
    {{- return -}}
  {{- end -}}

  {{- range $page := (union $ctx.RegularPages $ctx.Sections).ByWeight -}}
    {{- if and ($page.IsSection) (eq $page.Pages.Len 0) -}}
      {{- fmt.Warnf "Encountered an empty section when generating the sidebar: %v" $page -}}
      {{- continue -}}
    {{- end -}}

    {{- $linkTitle := partial "title.html" $page -}}

    {{- if $page.IsSection -}}
      <span class="sidebar-section-name">{{- $linkTitle -}}</span>
      {{- template "sidebar-menu" (dict "ctx" $page "level" (add $level 1) "activePage" $activePage) -}}
    {{- else -}}
      {{- $linkClass := "" -}}
      {{- if eq $activePage.RelPermalink $page.RelPermalink -}}{{- $linkClass = "active" -}}{{- end -}}
      <a class="sidebar-link {{ $linkClass }}" href="{{ $page.RelPermalink }}">{{- $linkTitle -}}</a>
    {{- end }}
  {{- end }}
{{- end -}}
