<h1>JWT</h1>
<form id="jwtForm">
  <button>Submit</button>
</form>

<div id="jwtTool">
  <div id="jwtEncoded" contenteditable="true" class="contentBox inputBox"></div>
  <div id="jwtDecoded">
    <div id="headerOutput" class="contentBox outputBox"></div>
    <div id="payloadOutput" class="contentBox outputBox"></div>
  </div>
</div>

<style>
  #jwtTool {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  #jwtTool > * {
    flex: 1 1 auto;
  }

  #jwtDecoded {
    display: flex;
    flex-direction: column;
  }

  .contentBox {
    /* Two monospaces stops the browser from shrinking the text (why?) */
    font-family: monospace, monospace;

    border: 1px solid white;
    border-radius: 6px;

    min-width: 20rem;
    min-height: 15rem;;

    overflow-y: scroll;
    padding: 1rem;
  }

  .outputBox {
    text-wrap: nowrap;
    white-space: pre;
  }
</style>

<script>

import {JWT} from "../utils/jwt"

function onSubmit(e: Event) {
  e.preventDefault()

  const tokenInput = document.getElementById("jwtEncoded")
  if (!tokenInput) {
    console.error("Failed to query encoded token")
    return
  }

  let jwt: JWT | null = null
  try {
    jwt = new JWT(tokenInput.innerText)
  } catch (e) {
    console.error(e)
    return
  }

  const headerOutput = document.getElementById("headerOutput")
  const payloadOutput = document.getElementById("payloadOutput")
  if (!headerOutput || !payloadOutput) {
    console.error("failed to query output fields")
    return
  }
  headerOutput.textContent = JSON.stringify(jwt.header, null, 2)
  payloadOutput.textContent = JSON.stringify(jwt.payload, null, 2)
}

const form = document.getElementById("jwtForm")
if (form) {
  form.addEventListener('submit', onSubmit)
} else {
  console.error("Failed to query JWT form")
}
</script>
