<!doctype html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <button id="sidebar-open-btn" popovertarget="sidebar" popovertargetaction="toggle">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="layout">
      <nav id="sidebar" class="sidebar" popover="auto">
        {{ partial "sidebar.html" . }}
      </nav>
      <main class="main-container" id="main-container">
        <div class="content">
          {{ block "main" . }}{{ end }}
        </div>
      </main>
    </div>
  </body>
</html>
